<div id="<%= dom_id issue %>">
  <p>
    <strong>Serviceman:</strong>
    <%= issue.serviceman_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= issue.user_id %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= link_to issue.photo.filename, issue.photo if issue.photo.attached? %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= issue.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= issue.category %>
  </p>

  <p>
    <strong>Service comment:</strong>
    <%= issue.service_comment %>
  </p>

  <p>
    <strong>Status string:</strong>
    <%= issue.status_string %>
  </p>

</div>
