<div id="<%= dom_id issue %>">
  <p>
    <strong>Servicemen:</strong>
    <%= issue.servicemen_id %>
  </p>

  <p>
    <strong>Users:</strong>
    <%= issue.users_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= issue.description %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= issue.photo %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= issue.category %>
  </p>

  <p>
    <strong>Service comment:</strong>
    <%= issue.service_comment %>
  </p>

  <p>
    <strong>Status string:</strong>
    <%= issue.status_string %>
  </p>

</div>
