<div class="container">
  <div class="row">
    <div class="col-12 mt-3" >
      <div class="alert alert-sm <%= 'alert-success' if notice.present? %>" role="alert">
      <%= notice %>
      </div>
      
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12">
      <h1>Issues</h1>
      <table class="table mb-0">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Updated</th>
          </tr>
        </thead>
        <tbody>
          <% @issues.each do |issue| %>
            <tr>
              <td><%= link_to issue.id, issue %></td>
              <td><%= truncate(issue.description, :length => 60) %></td>
              <td><%= issue.status_string %></td>
              <td><%= issue.updated_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-3">
      <%= button_to "New Issue", { :action => "new" }, :method => :get, :class => "btn btn-success" %>
    </div>
  </div>
</div>
