<div class="container">
  <div class="row">
    <div class="col-12 mt-5" >
      <div class="alert alert-sm <%= 'alert-success' if notice.present? %>" role="alert">
        <%= notice %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12">
      <h1>Issues</h1>
      <% if user_signed_in? || serviceman_signed_in? %>
        <div class="row">
          <div class="d-flex gap-2 mt-2 mb-2">
            <% if serviceman_signed_in? %>
              <a href = <%= issues_path() %> class = "btn btn-outline-primary">Show all issues </a>
            <% end %>
            <% if user_signed_in? %>
              <%= button_to "New Issue", { :action => "new" }, :method => :get, :class => "btn btn-success" %>
            <% end %>
          </div>
        </div>
      <% end %>
      <table class="table mb-0">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Serviceman</th>
            <th class="d-none d-sm-block" scope="col">Updated</th>
          </tr>
        </thead>
        <tbody>
          <% @issues.each do |issue| %>
            <% if issue.status_string == "New" %>
              <% badge_color = "text-bg-primary" %>
            <% elsif issue.status_string == "In progress" %>
              <% badge_color = "text-bg-warning" %>
            <% elsif issue.status_string == "Closed" %>
              <% badge_color = "text-bg-danger" %>
            <% elsif issue.status_string == "Done" %>
              <% badge_color = "text-bg-success" %>
            <% end %>
            <tr>
              <td><%= link_to issue.id, issue %></td>
              <td><%= truncate(issue.title, :length => 40) %></td>
              <td><span class="badge <%= badge_color %>"><%= issue.status_string %></span></td>
              <td><%= issue.serviceman.name %> <%= issue.serviceman.surname %></td>
              <td class="d-none d-sm-block"><%= issue.updated_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
