<div id="<%= dom_id serviceman %>">
  <p>
    <strong>Name:</strong>
    <%= serviceman.name %>
  </p>
  <p>
    <strong>Surname:</strong>
    <%= serviceman.surname %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= serviceman.email %>
  </p>
  <p>
    <strong>Category:</strong>
    <%= serviceman.category %>
  </p>
</div>
