<div class="container">
<div class="row justify-content-center mt-4">
<div class="col-8">
<div class="mb-3">
    
<%= render 'layouts/alert' %>
    
<h1>Log in</h1>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
  <div class="mb-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
  </div>

  <div class="field">
  <div class="mb-3">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>
  </div>

  <div class="mb-3">
  <%- if request.path == new_serviceman_session_path %>
    <%= link_to "Login as User", new_user_session_path %><br />
  <% end %>
    <%- if request.path == new_user_session_path %>
    <%= link_to "Login as Serviceman", new_serviceman_session_path %><br />
  <% end %>
  </div>

  <div class="actions">
  <div class="d-grid gap-2">
    <%= f.submit "Log in", class: "btn btn-success btn-block" %>
  </div>
  </div>

<% end %>
</div>
</div>
</div>

